<h1><%= current_user.username %> tell us about yourself!</h1>
<%= form_for @bio, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
  <%= f.label :profile_image %>
  <%= f.text_field :profile_image %>
  <br />
  <%= f.label :description %>
  <%= f.text_field :description %>
  <br />
  <%= f.submit %>
<% end %>
<p>Find me in app/views/bios/new.html.erb</p>
